body {
    font-family: Arial;
    background: #0b1220;
    color: white;
    margin: 0;
}

.topbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #111827;
}

.topbar a {
    color: white;
}

.grid {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    background: #1f2937;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}

.upload-box, .file-box {
    margin: 20px;
    padding: 20px;
    background: #111827;
    border-radius: 10px;
}

button {
    padding: 10px;
    background: #2563eb;
    border: none;
    color: white;
    margin-top: 10px;
}
